body{
	font-family: 'EB Garamond', serif;
	
}

header{
	
	background-image: url(../img/backgraund.png);
}

footer{
	width: 100%;
	min-height: 250px;
	background: #0f152f;
	display: flex;
}

footer .boxs{

	width: 320px;
	min-height: 150px;
	padding: 20px;
}

footer .boxs:nth-child(4){
	width: 400px;
}

.boxs h2{
	color: #8689f5;
	margin-bottom: 20px;
	font-size: large;
}

.boxs ul li{
	margin: 10px 0px;
	list-style: none;

}

.boxs ul li a{

	color: #fff;
	text-decoration: none;

}

.boxs ul li a:hover{

	color: #8689f5;
}

.boxs p{

	color: #8689f5;
	text-align: justify;

}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

#menu{
	background-color: #191970;
}

#menu ul{
	
	list-style: none;
	padding: 0;
	
}

#menu ul li{
	display: inline;
}

#menu ul li a{
	color: #fff;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	transition: background .3s;
}

#menu ul li a:hover{
	background-color: #8689f5;
}

#menu ul li:last-child a{
	float: right;
	background-color: #8689f5;
}

.footer{

	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #191970;
	padding: 0px 20px;
	
}



.footer .sociais{
	display: flex;
}

.sociais .social{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #ddd;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s linear;
}



.sociais .social a{
	color: #000;
	font-size: 2em;
	transition: color .3s linear;
}

.sociais .social :hover{

	width: 40px;
	height: 40px;
	background: #0f152f;
	border-radius: 5px;
}

.sociais .social:hover a{

	color: #fff;
}

.imghome{
 
	

}

@media(max-width: 950px)
{
	footer{
		
		flex-direction: column;
	}	

	footer .boxs{

		width: 100%;
		
		text-align: center;
	}
	footer .boxs:nth-child(4){
		width: 100%;
	}

	.imghome{

		width: 100%;
	}

}